body {
    background-color: bisque;
}

img {
    width: 300px;
}

/*nav {
    margin-left: 200px;   
}*/

.batas {
    margin-left: 200px;
}

.warna {
    background-color: rgb(179, 148, 102);
}

#bekgron {
    background-color: rgb(215, 161, 95);
}

#kiri {
    margin-left: 200px;
}