.border {
    border: 1px solid;
    padding: 10px;
}

.wadah {
    width: 1000px;
    margin: auto;
}

.display {
    display: inline-block;
    padding: 3%;
}


.warna {
    background-color: skyblue;
}


img {
    width: 100px;
}

.card {
    width: 30%;
    padding: 5%;
    box-sizing: border-box;
}

.horizontal {
    padding: 10px;
    display: flex;
    flex-direction: center;
    gap: 30px;
}

.rata {
    text-align:center;
}